*.swp
*.o
*.a
*.d
*.so
*.s
*.dot
*.png
*.tu
*.class
*.original
*.gimple
*.omplower
*.lower
*.eh
*.cfg
*.ompexp
*.fixup_cfg1
*.ssa
*.fixup_cfg3
*.inline_param1
*.einline
*.profile_estimate
*.release_ssa
*.inline_param2
*.fixup_cfg4
*.oaccdevlow
*.veclower
*.cplxlower0
*.optimized
*.statistics
TargetInfo
test/GIMPLE/a.out
test/GIMPLE/*hello
test/ARE/*.bc
test/ARE/*.ll
test/ARE/*.s
