*.swp
*.o
*.a
*.so
*.dot
*.png
*.tu
*.class
*.original
*.gimple
*.omplower
*.lower
*.eh
*.cfg
*.ompexp
*.fixup_cfg1
*.ssa
*.fixup_cfg3
*.inline_param1
*.einline
*.profile_estimate
*.release_ssa
*.inline_param2
*.fixup_cfg4
*.oaccdevlow
*.veclower
*.cplxlower0
*.optimized
*.statistics
tests/a.out
tests/*hello
tests/ARE/*.bc
tests/ARE/*.ll
tests/ARE/*.s
